<footer class="footer">
  <span *ngIf="tareasPendientes != 1" class="todo-count"><strong> {{ tareasPendientes }}</strong> Tareas pendientes</span>
  <span *ngIf="tareasPendientes === 1" class="todo-count"><strong> {{ tareasPendientes }}</strong> Tarea pendiente</span>

  <ul class="filters">
    <li *ngFor="let filtro of allFilters">
      <a 
        
        href="#/"
        (click)="cambiarFiltro(filtro)"
        >{{ filtro | titlecase }}</a>
    </li>
    
  </ul>
  
  <button class="clear-completed" (click)="deleteComplete()">Borrar Completadas</button>
</footer>
